
.about a,
.about span {
    display: inline-block;
}
h1,
h3 {
    text-transform: uppercase;
    font-weight: 400;
}
h3 {
    color: rgb(190, 142, 89);
    border-bottom: 1px solid rgb(190, 142, 89);
    margin-bottom: 5px;
}
.section {
    margin-bottom: 3em;
}
.about--container {
    text-align: left;
    color: rgb(85, 85, 85);
}
.about__content {
    margin: auto;
    padding: 3%;
    background: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.section--baseinfo {
    display: flex;
}
.baseinfo__info {
    margin-left: 3em;
    width: 100%;
}
.baseinfo__title {
    font-weight: bold;
    font-weight: 400;
}
.baseinfo__links {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    color: gray;
}
.baseinfo__links a {
    color: gray;
}
.baseinfo__portrait img {
    width: 250px;
    border-radius: 50%;
}
.item {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.item__info,
.item__date {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
}
.item__info {
    width: 600px;
}
.item__date {
    text-align: right;
    font-style: italic;
}
.indent {
    font-style: italic;
}
table {
    margin-left: 1em;
}
.skills__title,
.aboutme__title {
    text-align: right;
}
.aboutme__title {
    min-width: 140px;
}
.skills__description,
.aboutme__description {
    padding: 0.5em;
}
.projects__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.item--projects {
    width: 50%;
}
@media (max-width: 1024px) {
    .item__date {
        text-align: left;
        margin-top: 1em;
    }
}
@media (max-width: 768px) {
    .about__content {
        width: 100%;
        margin-top: var(--topnav-margin);
    }
    .section--baseinfo {
        flex-direction: column;
    }
    .baseinfo__info {
        margin-left: 0;
    }
    .baseinfo__links {
        margin-left: 1em;
    }
    .baseinfo__name,
    .baseinfo__portrait {
        text-align: center;
    }
    .baseinfo__portrait img {
        width: 200px;
    }
    .item--projects {
        width: 100%;
    }
    .aboutme__title {
        min-width: 0;
    }
}

@media print {
    body * {
        visibility: hidden;
    }
    .about__content,
    .about__content * {
        visibility: visible;
    }
    .about__content {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.button--print {
    position: absolute;
    top: 12px;
    right: 20px;
}
