

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    height: 100%;
    width: 240px;
    overflow-x: hidden;
    background-color: var(--background);
    transition: 0.5s;
    z-index: 99;
}
.sidebar.visible {
    transform: translate(0px, 0);
}
.sidebar__button {
    height: 60px;
    width: 60px;
    border: 0;
    background-color: var(--background);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.sidebar__button i {
    font-size: 32px;
    color: var(--primary);
}
.sidebar__links {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 240px;
    box-sizing: border-box;
}

.sidebar__links a {
    padding: var(--link-padding);
}

.sidebar__links a:hover,
.sidebar__links a.active {
    background-image: linear-gradient(to right, var(--link-color), var(--background));
}

@media (max-width: 768px) {
    .sidebar {
        width: var(--sidenav-margin);
        transform: translate(-240px, 0);
    }
    .sidebar__button {
        display: flex;
    }
    .sidebar__button.visible {
        transform: rotate(180deg);
    }
}
