@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

:root {
    --primary: rgb(190, 142, 89);
    --secondary: #808080;
    --background: #2B2B2B;
    --text-color: #D5D5D5;
    --link-color: rgb(190, 142, 89);

    --font-family: "barlow-extralight", "barlow", sans-serif;

    --topnav-margin: 60px;
    --content-margin: 1em;
    --sidenav-margin: 300px;
    --sidenav-margin-mobile: 60px;
    --link-padding: 20px;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--text-color);
}

a {
    color: var(--primary);
}

a:hover, a.active {
    color: var(--text-color);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.highlight {
    color: var(--primary);
}
