
.nav {
    justify-content: center;
    background-color: #2B2B2B;

    a {
        text-transform: uppercase;
    }
    a:hover, a.active {
        color: #D5D5D5;
    }
}
#navbar {
    max-width: 800px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: auto;
    font-size: 1.5em;

    li {
        cursor: pointer;
    }
}
