
.nav {
    justify-content: center;
    background-color: #2B2B2B;

    a {
        text-transform: uppercase;
    }
}
#navbar {
    max-width: 800px;
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    font-size: 1.5em;

    li {
        cursor: pointer;
    }
}
