.kmeans {
    margin: 50px;
    width: auto;
    min-width: 800px;
}
.kmeans .js-plotly-plot {
    display: block !important;
}

.kmeans .button--start {
    margin: 15px 0;
    min-width: 300px;
    min-height: 50px;
}